<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid Tracker</title>
  <%- include('../partials/head.ejs') %>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main>
    <div class="jumbotron">
        <h1>Covid Tracker</h1>
        <p>
          This is simple covid tracker.
        </p>
        <br />
        <br />
        <h1>Total Number of cases : <%- number %> </h1>
        <br />
    </div>
  </main>
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>